.heading-reservation {
    font-family: "Playpen Sans", cursive;
    font-size: 2.3rem;
    font-weight: 700;
    color: #0183C7;
    text-shadow: 0px 0px 4px #00000033;
}

/* Reservation inputs */

.name, .phone-number {
    width: 40rem;
    height: 2.5rem;
    border-radius: 0;
    border: 1px solid #D9D9D9;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

@media (max-width: 1024px) {
  .name, .phone-number {
    width: 52rem;
  }
}

@media (max-width: 975px) {
  .name, .phone-number {
    width: 40rem;
  }
}

@media (max-width: 768px) {
  .name, .phone-number {
    width: 32rem;
  }
}

@media (max-width: 640px) {
  .name, .phone-number {
    width: 21rem;
  }
}

.castle-option, .delivery-option, .payment-option {
    width: 40rem;
    height: 2.5rem;
    border-radius: 0;
    border: 1px solid #D9D9D9;
}

@media (max-width: 1024px) {
  .castle-option, .delivery-option, .payment-option {
    width: 52rem;
  }
}

@media (max-width: 975px) {
  .castle-option, .delivery-option, .payment-option {
    width: 40rem;
  }
}

@media (max-width: 768px) {
  .castle-option, .delivery-option, .payment-option {
    width: 32rem;
  }
}

@media (max-width: 640px) {
  .castle-option, .delivery-option, .payment-option {
    width: 21rem;
  }
}

/* Ant design inputs - special selectors*/

.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    color : #bfbfbf;
    opacity: 1;
    font-size: 1rem;
    padding: 0.4rem;
    font-family: 'Lato', sans-serif;
  }

.ant-select-outlined .ant-select-selector.ant-select-selector {
    border: none;
}

.choose-day {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

/* Bubbles on the right side */

.bubbles-images {
    position: relative;
    width: 30.5rem; 
    height: 21rem; 
  }

  @media (min-width: 1530px) {
    .bubbles-images {
      width: 20rem;
    }
  }

  @media (max-width: 1440px) {
    .bubbles-images {
      width: 27rem;
    }
  }

  @media (max-width: 1350px) {
    .bubbles-images {
      width: 22.5rem;
    }
  }

  @media (max-width: 1180px) {
    .bubbles-images {
      width: 15rem;
    }
  }

  @media (max-width: 1060px) {
    .bubbles-images {
      width: 13.5rem;
    }
  }

  @media (max-width: 1024px) {
    .bubbles-images {
      display: none;
    }
  }

.cup{
    position: absolute;
    background-size: cover;
    border-radius: 50%;
    background: linear-gradient(153.92deg, #FFFFFF -2.31%, #BCEAF6 83.57%);
  }

  .smaller {
    width: 10rem;
    height: 10rem; 
  }

  @media (max-width: 1200px) {
    .smaller {
      width: 6.5rem;
      height: 6.5rem;
    }
  }
  
  .larger {
    width: 18.5rem; 
    height: 18.5rem; 
  }

  @media (max-width: 1200px) {
    .larger {
      width: 11.5rem;
      height: 11.5rem;
    }
  }

  .smaller2 {
    width: 9rem;
    height: 9rem; 
  }

  @media (max-width: 1200px) {
    .smaller2 {
      width: 7rem;
      height: 7rem;
    }
  }
  
  .larger2 {
    width: 12rem; 
    height: 12rem; 
  }

  @media (max-width: 1200px) {
    .larger2 {
      width: 10rem;
      height: 10rem;
    }
  }
  
  .cup1:nth-child(1) {
    top: 59%;
    right: 23%;
    z-index: 100;
  }


  @media (max-width: 1200px) {
    .cup1:nth-child(1) {
      top: 41%;
      right: 18%;
    }
  }

  
  .cup1:nth-child(2) {
    top: 0%;
    right: 20%;
    z-index: 10;
  }


  @media (max-width: 1200px) {
    .cup1:nth-child(2) {
      right: 25%;
    }
  }

  .cup2:nth-child(1) {
    top: 54%;
    right: 40%;
    z-index: 100;
  }

  @media (max-width: 1200px) {
    .cup2:nth-child(1) {
      top: 53%;
      right: 50%;
    }
  }

  
  .cup2:nth-child(2) {
    top: 21%;
    right: 20%;
    z-index: 10;
  }


  @media (max-width: 1200px) {
    .cup2:nth-child(2) {
      right: 31%;
    }
  }

  /* Button */
  
.btn-submit {
  padding: 1rem 3.5rem;
  background-color: #28D2FF;
  border-radius: 999px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

/* Validaiton error messages*/

.error-message {
  color: red;
}

/* Checkbox */

.checkbox-wrapper {
  display: flex;
  align-items: center;
}

@media (max-width: 1350px) {
  .checkbox-wrapper p {
    text-wrap:wrap;
    max-width: 40rem;
  }
}

@media (max-width: 450px) {
  .checkbox-wrapper p {
    max-width: 20rem;
  }
}

.ant-checkbox.ant-checkbox-error .ant-checkbox-inner {
  border-color: red;
}

/* Castle image */

.chosen-castle {
  position: absolute;
  /* top: 41%; */
  /* left: 48%; */
  width: 13rem;
  transform: translate(69%, 40%) scaleX(-1);
  z-index: 101;
}

@media (max-width: 1440px) {
  .chosen-castle {
  transform: translate(45%, 45%) scaleX(-1);
  }
}

@media (max-width: 1340px) {
  .chosen-castle {
  transform: translate(25%, 40%) scaleX(-1);
  }
}


@media (max-width: 1200px) {
  .chosen-castle {
    width: 8rem;
    transform: translate(85%, 40%) scaleX(-1);
  }
}

@media (max-width: 1180px) {
  .chosen-castle {
    transform: translate(20%, 40%) scaleX(-1);
  }
}

@media (max-width: 1060px) {
  .chosen-castle {
    transform: translate(5%, 40%) scaleX(-1);
  }
}

@media (max-width: 540px) {
.date-selector {
  flex-direction: column-reverse;
}
}