@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playpen+Sans:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.app {
  border-radius: 1rem; 
  background-color: #f6fdff;
  font-family: 'Lato', sans-serif;
}

.path {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.path:hover {
  color: #0183C7;
}

.active {
  color: #0183C7;
  text-decoration: underline;
  text-decoration-thickness: 0.1em; 
  text-underline-offset: 0.8em; 
}

@media (max-width: 1024px) {
  .active {
    text-decoration: none;
  }
}

.border {
  border: solid 4vw #0183C7;
  background-color: #0183C7;
  border-left-width: 8.4vw;
  border-right-width: 8.4vw;
}

@media (max-width: 1536px) {
  .border {
    border-width: 3vw;
    border-left-width: 6vw;
    border-right-width: 6vw;
  }
}

@media (max-width: 1280px) {
  .border {
    border-width: 2vw;
    border-left-width: 4vw;
    border-right-width: 4vw;
  }
}

.nav-container {
  overflow: hidden; 
  transition: height 0.3s ease; 
  height: auto; 
}

.show {
  opacity: 1;
  transform: translateY(10%);
  transition: opacity 0.3s ease, transform 0.4s ease;
}

.hide {
  opacity: 0;
  height: 0; 
  transition: opacity 0.3s ease, height 0.3s ease; 
}

